@charset "UTF-8";
input[type=checkbox] {
   
}
input[type=checkbox] + label { 
    cursor: pointer; 
    padding-left: 23px; 
    background-repeat: no-repeat;
    background-image: url('/resources/custom/css/checkimg/checker-off.svg');
}
input[type=checkbox]:checked + label {
    background-image: url('/resources/custom/css/checkimg/checker-on.svg');
}
input[type=checkbox]:disabled + label {
    background-image: url('/resources/custom/css/checkimg/checker-disabled.svg');
}