@charset "UTF-8";
.teacherdate{
	width: 100%;
}

input[name=date] + label{
	padding: 0;
	float:left;
}

input[name=date]{
	width: 15px;
	height: 15px;
}

.teacherdate th, .teacherdate td{
	font-size : 18px;
	text-align: center;
}

.birth {
	width: 50px;
}